<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>CIS 4339 Group Project</title>
=======
    <title>GroupProjectCis4339</title>
>>>>>>> master
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
